/*** Base ***/

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  /* Degradê */
  background: linear-gradient(
    to bottom,
    #cccccc 0%,
    #FFFFFF 100.0%
  );
}

/*** Componentes ***/

.container {
  margin: 0 auto;
  width: 300px;
}

.gray-text {
  color: #333333;
}

.center-text {
  text-align: center;
  /* margin-top: 5rem; */
}

.atribuicao {
  font-size: 0.7em;
}

.atribuicao a {
  color: #999999;
}

.logotipo {
  text-align: center;
  padding: 2em 0;
}

.logotipo > img {
  width: 250px;
}

.linktree {
  background-color: #F2994A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* border-radius: 50vh; */
  color: #FFFFFF;
  text-align: center;
  margin: 1.5em auto;
}

.linktree a {
  display: block;
  padding: 2rem;
  color: #FFFFFF;
  /* color: #333333; */
  font-weight: bold;
  text-decoration: none;
}

/*** Estilo ***/

main {
  padding: 3rem 0;
}

footer em {
  text-decoration: underline wavy;
}

/*** Redes sociais ***/

.linktree a[href*="twitter"],
.linktree a[href*="facebook"],
.linktree a[href*="instagram"],
.linktree a[href*="researchgate"] {
  background-repeat: no-repeat;
  background-position: 2.0em 50%;
  background-size: 2em 2em;
}

.linktree a[href*="twitter"] {
  background-image: url(../img/svg-social/twitter.svg);
}

.linktree a[href*="facebook"] {
  background-image: url(../img/svg-social/facebook.svg);
}

.linktree a[href*="instagram"] {
  background-image: url(../img/svg-social/instagram.svg);
}

/*** Escalas maiores ***/

@media (min-width: 640px) {
  main.container {
    width: 50vw;
  }

  .linktree {
    width: 100%;
  }
}

@media (max-height: 100vh) {
  /* Empurra a logo do Onda para baixo na pagina */
  main {
    min-height: 60vh;
  }
}